* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #283618;

}

.form {
    height: 400px;
    margin-top: 100px;
    width: 100%;

}

.conteudo {
    background-color: #414833;
    height: 100%;
    width: 50%;
    border-radius: 100px 0px 100px 0px;
    margin-left: 25%;
    border: solid 3px #d3d3d3 ;

}
.name-login{
    width: 100%;
    height: 30px;
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
    color: rgb(158, 154, 154);

}

.input1 {
    height: 30px;
    text-align: center;
    margin-top: 40px;
}

.input1 p {
    color: rgb(161, 161, 161);
    height: 30px;

}

.e-mail {
    background-color: transparent;
    border-bottom: solid rgb(161, 161, 161) 3px;
    border-radius: 0px 0px 90px;
    margin-left: 10px;
    height: 20px;
    margin-top: 15px;
    width: 30%;
    color: #d3d3d3;
}

.input2 {
    text-align: center;
    height: 30px;
    margin-top: 100px;
}

.input2 p {
    margin-top: 30px;
    color: rgb(161, 161, 161);
}

.senha {
    background-color: transparent;
    border-bottom: solid rgb(161, 161, 161) 3px;
    border-radius: 0px 0px 90px;
    margin-left: 15px;
    height: 20px;
    margin-top: 10px;
    width: 30%;
    color: #d3d3d3;
}

.botao {
    text-align: center;
    margin-top: 50px;
    height: 30px;
    
}

.botao1 {
    height: 100%;
    width: 20%;
    cursor: pointer;
    background-color: transparent;
    color:  rgb(161, 161, 161);
    font-size: 15px;
}
.botao1:hover{
    border-radius: 30px;
    border: solid #000000 2px;
    background-color: beige;
    color: #000000;
}
.redes{
    display: flex;
    
    text-align: center;
    margin-top: 25px;
}

.whats{
    cursor: pointer;
    width: 50%;
    text-align: right;
    margin: 5px;
}
.whats a{
    color: #283618;
}
.insta{
    cursor: pointer;
    width: 15%;
    text-align: left;
    margin: 5px;
}
.insta a{
    color: #283618;
}

/* TODOS LINKS VAI TER ESSA FUNÇÃO SE NAO FOR MUDADO..*/
a:hover{
    color: #d3d3d3;
}
/*FUNÇÃO LINK*/

.cadastro{
    font-size: 11px;
    margin-left: 50px;
    margin-top: 20px;
}
.cadastro a{
    text-decoration: none;
    color: #000000;
}
.cadastro a:hover{
    color: #d3d3d3;
    text-decoration: underline;
}

/*RESPONSIVO */

@media screen and (max-width: 589px ){

    .name-login{
        margin-left: 35%;
    }

    .e-mail{
        width: 65%;
        border-radius: 0px 80px 0px 50px;
    }

    .senha{
        width: 65%;
        border-radius: 0px 80px 0px 50px;
    }
    .botao1{
        width: 50%;
    }

    .redes{
        margin-right: 30%;
    }
    .whats{
        width: 10%;
    }
    .insta{
        width: 10%;
    }

    .cadastro{
        margin: 5px;
        margin-left: 90px;
    }


    
}
